{% extends "base.html" %}

{% block content %}
    <h2>New Post</h2>
    <div>
    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Blog-Content (Use <a href="https://www.markdownguide.org/basic-syntax" target="_blank">markdown</a> for formatting)</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>
      <br>
      <button class="b1" title="Creates new entry">Post</button>
    </form>
      <button class="b1" title="Discard Changes" onclick="location.href='/blog{{url_id}}';">Discard</button>
    </div>
<style type="text/css">
  button{
    float: left;
  }
</style>
{% endblock %}